{$DOMAIN} {
	root * /srv
	encode gzip
	try_files {path} /index.html
	header /index.html Cache-Control "public, max-age=0, must-revalidate"
	file_server
}

realtime.{$DOMAIN} {
	handle {
		reverse_proxy realtime:8090 {
			transport http {
				read_timeout 360s
			}
		}
	}
}
